@{
    ViewBag.Title = "О проекте — MavroTag";
}

    <div>
        <p></p>
        <p class="h5">О проекте</p>
        <p></p>
        <p>MavroTag &mdash; о проекте.</p>
        <p></p>
    </div>