@using MavroTag.WebApp.Helpers

@{
    ViewBag.Title = "Кабинет";
}

<div>

    <p></p>

    <p class="h5">Кабинет</p>

    <p></p>

    <p>Добро пожаловать в MavroTag, @AuthHelper.Name!</p>

    <p></p>

    @if (AuthHelper.IsViewUsersPermission)
    {
        <p class="h6">Пользователи</p>

        <a class="btn-link" href="@Url.Action("Index", "Users")">Управление пользователями</a>

        <br />

        <br />
    }

    <p class="h6">Tag-проекты</p>

    @if (AuthHelper.IsMyTagProjectsPermission)
    {
        <a class="btn-link" href="@Url.Action("Index", "TagProjects")">Мои Tag-проекты</a>

        <br />
    }

    <a class="btn-link" href="@Url.Action("TagProjectOffice", "Home")">Tag-проекты с моим участием</a>

    <br />

</div>