@using MavroTag.WebApp.Helpers

@{
    ViewBag.Title = "Кабинет";
}

    <div>

        <p></p>

        <p class="h5">Кабинет</p>

        <p></p>

        <p>Добро пожаловать в MavroTag, @AuthHelper.Name!</p>

        <p></p>

        <br/>

        @if (AuthHelper.IsViewUsersPermission)
        {
            <p class="h6">Пользователи</p>

            <p><a class="btn-link" href="@Url.Action("Index", "Users")">Управление пользователями</a></p>

            <p></p>
        }

    </div>