@using MavroTag.WebApp.Helpers

@{
    ViewBag.Title = "Кабинет — MavroTag";
}

<div>

    <p></p>

    <p class="h5">Кабинет</p>

    <p></p>

    <p>Добро пожаловать в MavroTag, @AuthHelper.Name!</p>

    <p></p>


</div>