@using MavroTag.WebApp.Helpers
@model MavroTag.WebApp.Models.UsersModel

@{
    ViewBag.Title = "Управление пользователями";
}

<div>

    <p></p>

    <p class="h5">Управление пользователями</p>

    <p></p>

    @if (AuthHelper.IsAddUserPermission)
    {
        <p><a class="btn-link" href="@Url.Action("Add", "Users")">Добавить пользователя</a></p>
    }

    <p></p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userModel in Model.Users)
            {
                <tr>
                    <th scope="row">@userModel.Id</th>
                    <td>@userModel.Name</td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

</div>