@using MavroTag.WebApp.Helpers
@model MavroTag.WebApp.Models.TagProjectModel

@{
    ViewBag.Title = "Удаление Tag-проекта";
}

<div>

    <p></p>

    <p class="h5">Удаление Tag-проекта</p>

    <p></p>

    <div id="success" class="alert alert-success" role="alert" style="display: none;">@Model.Success</div>
    <div id="error" class="alert alert-danger" role="alert" style="display: none;">@Model.Error</div>

    <p></p>

</div>

<script>
	$(function () {

        if ("@Model.Success") $("#success").show(); else $("#success").hide();
		if ("@Model.Error") $("#error").show(); else $("#error").hide();
	});
</script>
